streamlit
moviepy
python-dotenv
ffmpeg-python
openai
requests

faster-whisper==0.10.0

transformers==4.36.2
tokenizers==0.15.2
sentencepiece
accelerate

torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0

numpy
tqdm